
.home-body {
    background: white;
}

/* .signIn { */
/* .signIn {
    background-color: #222;  
    color: white;
    height: 100%; */
    /* float: inherit ; */
    /* float: none; */
/* } */

/* .col-md-12 {
    float: inherit;
} */
/* .noFloat {
    float: none;
    width: 100%;
  
} */

