.list-group-item > .add {
    color: green;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .list-group-item > .add:hover {
    color: goldenrod;
  }