.list-group-item > .delete {
    color: red;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .list-group-item > .delete:hover {
    color:darkred;
  }